/* banner */
.banner{
  position: relative;
}
.banner-box{
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* 將中心點改為文字中央 */
  z-index: 10;
  background: transparent;
  /* 背景透明 */
}

.banner-box .title{
  color: #ffffff;
  margin-top: 20px;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0,0,0,75);
}
