<!-- m-head -->
<header class="m-head bg-b">
  <div class="container nav-space">
    <div class="row">
      <div class="col-6">
        <a href="#">
          <img [src]=LOGO alt="" class="logo">
        </a>
      </div>
      <div class="col-6 toggle">
          <div class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
      </div>
    </div>
  </div>
</header>
<div class="menu-content bg-ctbc">
  <div class="container">
    <div class="row">
        <ul class="menu-list">
            <li><a href="#"></a>關於我們</li>
            <li><a href="#"></a>最新公告</li>
            <li><a href="#"></a>聯絡我們</li>
        </ul>
    </div>
  </div>
</div>
<!-- d-head -->
<div class="d-head bg-b">
  <div class="container nav-space">
      <div class="row align-items-center">
          <div class="col-3">
            <a href="#">
              <img [src]=LOGO alt="" class="logo">
            </a>
          </div>
          <div class="col-9">
              <ul class="d-menu">
                  <li><a href="#"></a>關於我們</li>
                  <li><a href="#"></a>最新公告</li>
                  <li><a href="#"></a>聯絡我們</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-10 col-xl-8 mx-auto">
          <p class="text text-center">
              我們致力於為您提供正宗的日式料理體驗。從新鮮的壽司和刺身到精緻的天婦羅和拉麵，我們的菜單融合了傳統與創新，每一道菜品都精心準備，旨在呈現最純正的日本風味。

              我們的廚師團隊擁有多年豐富的經驗，嚴選當季食材，確保每一口都是極致的享受。我們相信，餐飲不僅僅是味覺的享受，更是文化的傳遞。希望每一位顧客在這裡都能感受到日本的美食文化和款款真情。

              無論是家庭聚餐、朋友聚會還是浪漫約會，我們的餐廳都是您的理想選擇。期待您的光臨，與我們一同品味美好時光。</p>
      </div>
  </div>
</div>
