/* text */
.text{
  padding: 15px;
}
.text-center{
  text-align: center;
}

.btn-1{
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  /* 圓角 */
  border-radius: 50px;
  border: 1px solid #ffffff;
}
.btn-b{
  padding: 10px 30px;
  color: #000;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #000000;
}
