/* text */
.text{
  padding: 15px;
  font-size: 1rem;
}
.text-center{
  text-align: center;
}

/* banner */
.banner{
  position: relative;
}

.banner-box{
  display: block;
  padding: 30px;
  text-align: center;
  color: #ffffff;
}

@media(min-width:768px){
  .banner-box{
      position: absolute;
      width: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      /* 將中心點改為文字中央 */
      z-index: 10;
      background: transparent;
      /* 背景透明 */
  }

  .banner-box .title{
      font-size: 4rem;
      text-shadow: 0 0 10px rgba(0,0,0,1);
  }
}

.banner-box .title{
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.box-mb{
  margin-bottom: 20px;
}

.d-back{
  display: block;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.d-back li{
  display: block;
  border-bottom: 1px solid #dadada;
}
.d-back li a{
  display: block;
  color: black;
  padding: 15px 15px;
  font-size: 2rem;
  text-decoration: none;
}
.d-back li:hover{
  background: #c20202;
  /* border-bottom: 1px solid #000000; */

}
.d-back li a:hover{
  color: #ffffff;
}
