<!-- about -->
<div class="banner">
  <img src={{Banner}} class="img-fluid">
  <div class="banner-box">
    <h1 class="title box-mb">關於我們</h1>
    <a routerLink="/about" class="btn-1">MORE</a>
  </div>
</div>
<!-- news/blog -->
<div class="box-pad">
  <div class="container ">
    <div class="row">
      <div class="col-md-10 col-xl-8 mx-auto text">
        <h2 class="blogs">最新菜單/最新公告</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-3 plr-0">
        <div class="box">
          <div class="box-img">
            <img src={{Img1}} alt="" class="img-fluid">
          </div>
          <div class="box-body">
            <h5 class="color-blue text-center">
              [豪華海陸定食]
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 plr-0">
        <div class="box">
          <div class="box-img">
            <img src={{Img2}} alt="" class="img-fluid">
          </div>
          <div class="box-body">
            <h5 class="color-blue text-center">
              [蒲燒鰻魚飯定食]
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 plr-0">
        <div class="box">
          <div class="box-img">
            <img src={{Img3}} alt="" class="img-fluid">
          </div>
          <div class="box-body">
            <h5 class="color-blue text-center">
              [炸半雞定食]
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 plr-0">
        <div class="box">
          <div class="box-img">
            <img src={{Img4}} alt="" class="img-fluid">
          </div>
          <div class="box-body">
            <h5 class="color-blue text-center">
              [起司豬排定食]
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 plr-0">
        <div class="box">
          <div class="box-img">
            <img src={{News1}} alt="" class="img-fluid">
          </div>
          <div class="box-body">
            <h5 class="color-blue text-center">
              【季節限定】夏日定食
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 plr-0">
        <div class="box">
          <div class="box-img">
            <img src={{News2}} alt="" class="img-fluid">
          </div>
          <div class="box-body">
            <h5 class="color-blue text-center">
              2024樹太老母親節
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 plr-0">
        <div class="box">
          <div class="box-img">
            <img src={{News3}} alt="" class="img-fluid">
          </div>
          <div class="box-body">
            <h5 class="color-blue text-center">
              [填問券抽好禮]
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 plr-0">
        <div class="box">
          <div class="box-img">
            <img src={{News4}} alt="" class="img-fluid">
          </div>
          <div class="box-body">
            <h5 class="color-blue text-center">
              【店休公告】暫不營業
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a routerLink="/news" class="btn-1 btn-b">MORE</a>
    </div>
  </div>
</div>
<!-- contact -->
<div class="bg-color box-pad">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-xl-8 mx-auto">
        <h4 class="contact">聯絡我們</h4>
        <div class="row">
          <div class="col-md-3 course-img">
            <img src={{Img5}} alt="" class="">
          </div>
          <div class="col-md-3 course-img">
            <img src={{Img6}} alt="" class="">
          </div>
          <div class="col-md-3 course-img">
            <img src={{Img7}} alt="" class="">
          </div>
          <div class="col-md-3 course-img">
            <img src={{Img8}} alt="" class="">
          </div>
        </div>
      </div>
      <div class="text-center">
        <a routerLink="/contact" class="btn-1 btn-m">MORE</a>
      </div>
    </div>
  </div>
</div>
