/* You can add global styles to this file, and also import other style files */
.img-fluid{
  display: block;
  width: 100%;
  height: auto;
}
.btn-1{
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  /* 圓角 */
  border-radius: 50px;
  border: 1px solid #ffffff;
}
.btn-b{
  padding: 10px 30px;
  color: #000;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #000000;
}
