<div class="container">
  <div class="row">
    <div class="col-2">
      <ul class="d-back">
        <li><a href="/home">返回</a></li>
      </ul>
    </div>
    <div class="col-10 ">
      <div class="box text-center"  *ngFor="let item of Contact">
        <div class="icon">
          <img src={{item.img}} alt="" class="icon-png">
        </div>
        <div class="title">
          <h1>{{item.title}}</h1>
          <p>{{item.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner">
  <img src={{banner}} class="img-fluid">
</div>
<footer class="bg-b">
  <div class="row">
    <div class="col-6">
      <a>
        <img [src]=LOGO alt="" class="logo">
      </a>
    </div>
    <div class="col-6 app">
      <a href="/contact" class="CtFooter__linkBtn">
        <img src="https://www.tasty.com.tw/img/btn_app.jpg" draggable="false">
      </a>
      <a href="/contact" class="CtFooter__linkBtn">
        <img src="https://www.tasty.com.tw/img/btn_fb.jpg" draggable="false">
      </a>
      <a href="/contact" class="CtFooter__linkBtn">
        <img src="https://www.tasty.com.tw/img/btn_line.jpg" draggable="false">
      </a>
      <a href="/contact" class="CtFooter__linkBtn">
        <img src="https://www.tasty.com.tw/img/btn_message.jpg" draggable="false">
      </a>
    </div>
  </div>
</footer>

