<div class="container">
  <div class="CtFooter__logoWrap">
    <div class="CtFooter__links">
      <a href="/contact" class="CtFooter__linkBtn">
        <img src="https://www.tasty.com.tw/img/btn_app.jpg" draggable="false">
      </a>
      <a href="/contact" class="CtFooter__linkBtn">
        <img src="https://www.tasty.com.tw/img/btn_fb.jpg" draggable="false">
      </a>
      <a href="/contact" class="CtFooter__linkBtn">
        <img src="https://www.tasty.com.tw/img/btn_line.jpg" draggable="false">
      </a>
      <a href="/contact" class="CtFooter__linkBtn">
        <img src="https://www.tasty.com.tw/img/btn_message.jpg" draggable="false">
      </a>
    </div>
  </div>
</div>
